<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error!</h4>
        <p><%= message || 'Something went wrong!' %></p>
        <hr>
        <p class="mb-0">
            <a href="/" class="alert-link">Return to Home</a>
        </p>
    </div>
</div> 