<div class="jumbotron">
    <h1 class="display-4">Welcome to Our Store</h1>
    <p class="lead">Find the best products at the best prices.</p>
    <hr class="my-4">
    <p>Browse our latest collection of products.</p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">Shop Now</a>
</div> 